body {
  font-family: "Noto Sans TC", sans-serif;
  background: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: #ff4da6;
  color: green;
  padding: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

iframe {
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}
.video-box {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.video-box iframe {
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 80%;
  max-width: 800px;
  height: 450px;
}

